$fontFamily: 'Montserrat', 'Open Sans', 'Roboto', sans-serif;
$headerBgColor: #74def4;
$silverChalice: #f2f2f2;
$colorSalmon: #fc8c5e;
$colorWhite: #ffffff;
$sharkBlack: #1a1b1b;
$totemPole: #951a0c;
$royalBlue: #6a5fe1;
$colorUltramarine: #0c1f86;
$easternBlue: #27aabe;